---
- name: Create student user
  user:
    name: "{{ student_user }}"
    shell: /bin/bash
    password: "{{ student_password }}"
    create_home: yes

- name: Set custom MOTD (Message of the Day)
  copy:
    dest: /etc/motd
    content: |
      **************************************************
      * ДОБРО ПОЖАЛОВАТЬ НА WORKSHOP 2026!             *
      * Твои задания находятся в папках: ~/bash, ~/git *
      **************************************************

- name: Setup Bash workshop tasks
  include_tasks: bash.yml

- name: Setup Git workshop tasks
  include_tasks: git.yml
